{% extends 'base.html' %}
{% load static %}

{% block body_class %}no-sidebar{% endblock %}

{% block content %}

{% csrf_token %}

<span class="page-eyebrow">Administración</span>
<h1 class="page-title">Clientes</h1>

<div class="card">
  <div class="usuarios-toolbar">
    <select id="filtroTipoCliente" class="filtro-select">
      <option value="todos">Todos los tipos</option>
      {% for tipo in tipos_cliente %}
        <option value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
      {% endfor %}
    </select>
    <a href="{% url 'cliente_nuevo' %}" class="btn-primary">
  <i class="ti ti-plus"></i> Crear cliente
</a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Razón social</th>
        <th>Nombre comercial</th>
        <th>Tipo de cliente</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            {% for c in clientes %}
        <tr data-tipo-cliente="{{ c.tipo_cliente.nombre }}">
        <td><a href="{% url 'cliente_editar' c.id %}" style="color: var(--navy); font-weight: 600; text-decoration: none;">{{ c.razon_social }}</a></td>
        <td>{{ c.nombre_comercio }}</td>
        <td>{{ c.tipo_cliente.nombre }}</td>
        <td>
            <button class="btn-delete" data-cliente-id="{{ c.id }}">
            <i class="ti ti-trash"></i>
            </button>
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/clientes.js' %}"></script>
{% endblock %}